#nav {
    line-height: 30px;
    height: 100%;
    width: 20%;
    float: left;
    padding: 5px;
    font-size: 1em;
    border: 1px solid #D0D0D0;
}

.tab-nav-global {
    background-color: #c6d9f1;
}

.nav-tabs>li.active {
    color: #000;
}

.nav-tabs>li>a {
    color: #000;
    text-decoration: none;
}

ul.list-no-bullets {
    list-style-type: none;
}

ul.search-container {
    border: 1px solid black;
    list-style-type: none;
}

.nav-tab-wrapper {
    background: none repeat scroll 0 0 #B8DBFF;
    border-bottom: 1px solid #FFFFFF;
    padding: 0;
    text-decoration: none;
}

.nav-global {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav-global-welcome {
    list-style: none;
    display: inline;
}

.tab {
    float: left;
    background: #B8DBFF;
    display: block;
    height: 30px;
    width: 60px;
    color: rgb(0, 0, 0);
    /* border: 1px solid #FFF; */
    border-right: 1px solid #FFF;
}

.ui-helper-clearfix {
    display: block;
}

.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}

.ui-helper-clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#headerBar {
    background-color: #31708F;
    width: 100%;
    top: 0;
    float: left;
    height: 30px;
    font: 24px arial, sans-serif;
    color: white;
    padding-left: 10px;
    text-align: right;
}

#titleBar {
    background-color: #558ED5;
    width: 100%;
    margin-top: 2px;
    height: 40px;
    font: 18px arial, sans-serif;
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    text-align: left;
}

div > h3 {
    font: 12px verdana, arial, sans-serif;
}
