<div class="col-md-8 col-lg-8 col-md-offset-1 col-lg-offset-1">
    <h1>Order</h1>
    <form class="form-inline" ng-submit="order.addToCart()" novalidate>
        <div class="form-group">
            <label for="beverages">Beverages</label>
            <select ng-init="order.selectedBeverage"
                    ng-model="order.selectedBeverage"
                    ng-options="beverage as beverage.name for beverage in order.allBeverages"
                    class="form-control"
                    id="beveragelist">
            </select>
            <label for="size">Size</label>
            <select ng-init="order.selectedSize"
                    ng-model="order.selectedSize"
                    ng-options="size as size.name for size in order.allSizes"
                    class="form-control"
                    id="sizeList">
            </select>
            <label for="quantity">Quantity</label>
            <input type="text" name="quantity" ng-model="order.quantity" />
        </div>
        <button type="submit">Add To Cart</button>
    </form>
    <br>
    <button type="button" ng-click="order.submitOrder()">Submit Order</button>
</div>
