<div class="col-md-8 col-lg-8 col-md-offset-1 col-lg-offset-1">
<h1>Order</h1>
<form ng-submit="order.addToCart()" novalidate>
    <div class="row">
        <div class="col-sm-12">
            <label for="locations">Location</label>
            <select ng-init="order.selectedLocation"
                    ng-model="order.selectedLocation"
                    ng-options="location as location.name for location in order.allLocations"
                    class="form-control"
                    id="locationList">
            </select>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-6">
            <label for="beverages">Beverages</label>
            <select ng-init="order.selectedBeverage"
                    ng-model="order.selectedBeverage"
                    ng-options="beverage as beverage.name for beverage in order.allBeverages"
                    class="form-control"
                    id="beveragelist">
            </select>
        </div>
        <div class="col-sm-3">
            <label for="size">Size</label>
            <select ng-init="order.selectedSize"
                    ng-model="order.selectedSize"
                    ng-options="size as size.name for size in order.allSizes"
                    class="form-control"
                    id="sizeList">
            </select>
        </div>
        <div class="col-sm-3">
            <label for="quantity">Quantity</label>
            <input class="form-control" type="text" name="quantity" ng-model="order.quantity"/>
        </div>

    </div>
    <br>
    <button class="btn btn-primary" type="submit">Add To Cart</button>
    <button class="btn btn-default" type="button" ng-click="order.submitOrder()">Submit Order</button>
</form>

</div>
